<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <h1>我的好友</h1>
      <hr>
      <ul>

        <% @friends.each do |user| %>
        <div class="col-md-3 col-sm-4 col-xs-6 text-center user-item">
          <%= link_to user_path(user) do %>
          <% if user.avatar? %>
            <%= image_tag user.avatar, class: "img-responsive center-block img-rounded" %>
          <% else %>
            <%= image_tag "https://visualhunt.com/photos/l/7/chair-pet-cat.jpg", class: "img-responsive center-block img-rounded" %>
          <% end %>
          <h4><%= user.name %></h4>
          <%= render partial: "shared/follow", locals: {user: user} %>
          <%= render partial: "shared/friend", locals: {user: user} %>
          <% end %>
        </div>

        <% end %>
      </ul>

    </div>
  </div>
</div>
