<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-4">
        <% if @user.avatar? %>
          <%= image_tag @user.avatar, class: "img-responsive center-block" %>
        <% else %>
          <%= image_tag "https://visualhunt.com/photos/l/7/chair-pet-cat.jpg", class: "img-responsive center-block" %>
        <% end %>
      </div>


      <div class="col-md-8">
        <h2><%= @user.name %></h2>
        <h5><%= @user.email %></h5>
        <%= simple_format @user.intro %>
        <% if @user == current_user %>
          <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>


    <div class="clearfix"></div>

  </div>
</div>

<br />

<!-- list for commented restaurants -->
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @commented_restaurants.count %> 已評論餐廳</h3>
    </div>

    <div class="panel-body clearfix">
      <% @commented_restaurants.each do |restaurant| %>
      <%= link_to restaurant_path(restaurant) do %>
      <div class="my-restaurant">
        <div class="my-restaurant-img">
          <% if restaurant.image? %>
            <%= image_tag restaurant.image, class: "img-responsive img-rounded" %>
          <% else %>
            <%= image_tag "https://visualhunt.com/photos/l/7/lemons-fruitful-yellowed.jpg", class: "img-responsive img-rounded" %>
          <% end %>
        </div>

        <h5><%= restaurant.name %></h5>   
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
