<div class="container">
  <div class="row">
    <!-- 使用 Bootstrap components 的 Nav Tabs -->
    <!-- https://getbootstrap.com/docs/3.3/components/#nav-tabs -->
    <ul class="nav nav-tabs">
      <li role="presentation"><%= link_to "全部餐廳", root_path %></li>
      <li role="presentation" class="active"><%= link_to "最新動態", feeds_restaurants_path %></li>
    </ul>
  </div>
</div>

<br>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <h1>餐廳最新動態</h1>
      <hr>

      <div class="col-md-6 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">最新餐廳</h3>
          </div>

          <div class="panel-body">
            <% @recent_restaurants.each do |restaurant| %>
            <h4><%= link_to restaurant.name, restaurant_path(restaurant) %></h4>
            <p class="label label-default"><%= restaurant.category.name %></p>
            <br>
            <br>
            <p><%= truncate(restaurant.description, length: 80) %></p>
            <hr>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">最新評論</h3>
        </div>
        
        <div class="col-md-6">
          <div class="panel-body">
            <% @recent_comments.each do |comment| %>
            <h4><%= link_to comment.restaurant.name, restaurant_path(comment.restaurant) %></h4>
            <p><%= truncate(comment.content, length: 80) %></p>
            <p><small>- by <%= link_to comment.user.name, user_path(comment.user) %></small></p>
            <hr>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>