<div class="container">
  <div class="row">
    <!-- 使用 Bootstrap components 的 Nav Tabs -->
    <!-- https://getbootstrap.com/docs/3.3/components/#nav-tabs -->
    <ul class="nav nav-tabs">
      <li role="presentation"><%= link_to "全部餐廳", root_path %></li>
      <li role="presentation"><%= link_to "最新動態", feeds_restaurants_path %></li>
      <li role="presentation" class="active"><%= link_to "TOP10 人氣餐廳", ranking_restaurants_path %></li>
    </ul>
  </div>
</div>

<br>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <h1>TOP10 人氣餐廳</h1>
      <hr>

      <% @top10_restaurants.each do |restaurant| %>

        <div class="ranking-item">
          <div class=" col-md-4 col-sm-6 col-xs-6">
            <%= link_to restaurant_path(restaurant) do %>
              <% if restaurant.image? %>
                <%= image_tag restaurant.image, class: "img-responsive center-block" %>
              <% else %>
                <%= image_tag "https://visualhunt.com/photos/l/7/lemons-fruitful-yellowed.jpg", class: "img-responsive center-block" %>
              <% end %>
            <% end %>
          </div>

          <div class="caption col-md-8 col-sm-6 col-xs-6">
            <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
            <p class="label label-default"><%= restaurant.category.name %></p>
            <p class="label label-default">收藏數<%= restaurant.favorites_count %></p>
            <p><%= truncate(restaurant.description, length: 60) %></p>
            <p><%= render partial: "shared/favorite", locals: {restaurant: restaurant} %><%= render partial: "shared/like", locals: {restaurant: restaurant} %></p>
          </div>
          <div class="clearfix"></div>
        </div>
      <% end %>
    </div>
  </div>
</div>